<nav class="navbar navbar-expand-lg " [ngClass]="{
  'navbar-dark bg-dark': theme === 'dark-mode',
  'navbar-light bg-light': theme != 'dark-mode'}">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" routerLinkActive="active" routerLink="/home">CoinFac</a>

  <div class="collapse navbar-collapse">
    <div class="navbar-nav  mr-auto">
      <a class="nav-item nav-link" routerLinkActive="active" routerLink="/home" hidden="true">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" routerLinkActive="active" routerLink="/accounts">Accounts</a>
      <a class="nav-item nav-link disabled" routerLinkActive="active">Incomes</a> <!--routerLink="/income"-->
      <a class="nav-item nav-link disabled" routerLinkActive="active">Expenses</a> <!--routerLink="/expense"-->
      <a class="nav-item nav-link disabled" routerLinkActive="active">Foreign Currency</a> <!--routerLink="/foreigncurrency"-->
      <a class="nav-item nav-link disabled" routerLinkActive="active">Predictions</a> <!--routerLink="/predictions"-->
      <a class="nav-item nav-link disabled" routerLinkActive="active">Blockchain</a> <!--routerLink="/blockchain"-->
    </div>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-success my-2 my-sm-0 disabled">Logout</button>
    </form>
  </div>
</nav>
