<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>

<!-- 

    Create

-->
<ngx-smart-modal #accountsModal identifier="accountsModal" customClass="medium-modal msg-modal msg-lg modal-lg"
  closable="true" dismissable="false" escapable="false" [identifier]="'popupOne'">
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <div class="container-fluid">
        <div class="row">
          <div class="col-">
            <img [src]="picUrl" width="30" height="30" class="d-inline-block align-top" alt="">
          </div>
          <div class="col-sm">
            Accounts Manager
          </div>
        </div>
      </div>
    </a>
  </nav>

  <div *ngIf="accountsModal.hasData()">
    <!-- Account Name, 
            Account Type [Income, Expense, Income and Expense], 
            Goal
            Comments
        -->
    <form [formGroup]="accountForm" (ngSubmit)="saveAccount()">
      <div class="form-group">
        <!-- Name -->
        <label for="username">Name</label>
        <input class="form-control" id="name" type="text" formControlName="name" />

        <div *ngIf="accountForm.get('name').pending">
          Checking for uniquess...
        </div>
        <div *ngIf="
            (accountForm.get('name').touched ||
              accountForm.get('name').dirty) &&
            accountForm.get('name').invalid
          " class="alert alert-danger">
          <div *ngIf="accountForm.get('name').errors.required">
            Account name is required
          </div>
          <div *ngIf="accountForm.get('name').errors.minlength">
            Account name should be minimum
            {{ accountForm.get("name").errors.minlength.requiredLength }}
            characters
          </div>
          <div *ngIf="accountForm.get('name').errors.cannotContainSpace">
            Account name cannot contain space.
          </div>
          <div *ngIf="accountForm.get('name').errors.shouldBeUnique">
            Account name already taken.
          </div>
        </div>
        <small id="accountnamehelp" class="form-text text-muted">Informe your account name.</small>
      </div>

      <div class="form-group">
        <!-- Goal -->
        <label for="goal">Goal</label>
        <input formControlName="goal" id="goal" type="number" class="form-control"
          [ngModel]="goalInput | currency: 'BRL'" />
        <small id="accountnamehelp" class="form-text text-muted">Informe how much money you want to keep for this
          account.</small>
      </div>

      <div class="form-group">
        <!-- Type -->
        <label for="accountType">Type</label>
        <select class="form-control" formControlName="accountType" id="accountType">
          <option value="Income">Income</option>
          <option value="Expense">Expense</option>
          <option value="IncomeAndExpense">Income and Expense</option>
        </select>
        <small id="accounttypehelp" class="form-text text-muted">If its an account for savings please check
          Income.</small>
      </div>

      <div class="form-group">
        <!-- Comments -->
        <label for="comments">Comments</label>
        <textarea class="form-control" formControlName="comments" id="comments" rows="3"></textarea>
        <small id="accountcommentshelp" class="form-text text-muted">Inform details of your account.</small>
      </div>

      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" [disabled]="!accountForm.valid">
        Create
      </button>
    </form>
    <!-- {{ accountsModal.getData() | json }}   -->
  </div>
</ngx-smart-modal>

<!-- 

    Delete

-->
<ngx-smart-modal #accountsModal2 identifier="accountsModal2" customClass="nsm-dialog-animation-ttb nsm-centered"
  closable="true" dismissable="false" escapable="false" [identifier]="'popupTwo'">
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <div class="container-fluid">
        <div class="row">
          <div class="col-">
            <img [src]="picUrl" width="30" height="30" class="d-inline-block align-top" alt="">
          </div>
          <div class="col-sm">
            Remove Account
          </div>
        </div>
      </div>
    </a>
  </nav>
  <img class="img-fluid rounded" src="https://placeimg.com/1000/400/tech" alt="Lorem picsum" position="relative" />

  <p></p>
  <p>Are you sure you want to remove this account?</p>
  <p></p>
  <small id="accountDelete" class="form-text text-muted">Removing an account will remove any associated data.</small>
  <div class="btn-group" role="group" aria-label="Basic example">
    <button class="btn btn-outline-success my-2 my-sm-0" (click)="deleteAccount()">
      Ok
    </button>
  </div>
</ngx-smart-modal>

<!-- 

    Update

-->
<ngx-smart-modal #accountsModal3 identifier="accountsModal3" customClass="medium-modal msg-modal msg-lg modal-lg"
  closable="true" dismissable="false" escapable="false" [identifier]="'popupThree'">
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <div class="container-fluid">
        <div class="row">
          <div class="col-">
            <img [src]="picUrl" width="30" height="30" class="d-inline-block align-top" alt="">
          </div>
          <div class="col-sm">
            Accounts Manager
          </div>
        </div>
      </div>
    </a>
  </nav>

  <div *ngIf="accountsModal.hasData()">
    <!-- Account Name, 
            Account Type [Income, Expense, Income and Expense], 
            Goal
            Comments
        -->
    <form [formGroup]="accountForm" (ngSubmit)="editAccount()">
      <div class="form-group">
        <!-- Name -->
        <label for="username">Name</label>
        <input class="form-control" id="name" type="text" formControlName="name" />

        <div *ngIf="accountForm.get('name').pending">
          Checking for uniquess...
        </div>
        <div *ngIf="
            (accountForm.get('name').touched ||
              accountForm.get('name').dirty) &&
            accountForm.get('name').invalid
          " class="alert alert-danger">
          <div *ngIf="accountForm.get('name').errors.required">
            Account name is required
          </div>
          <div *ngIf="accountForm.get('name').errors.minlength">
            Account name should be minimum
            {{ accountForm.get("name").errors.minlength.requiredLength }}
            characters
          </div>
          <div *ngIf="accountForm.get('name').errors.cannotContainSpace">
            Account name cannot contain space.
          </div>
          <div *ngIf="accountForm.get('name').errors.shouldBeUnique">
            Account name already taken.
          </div>
        </div>
        <small id="accountnamehelp" class="form-text text-muted">Informe your account name.</small>
      </div>

      <div class="form-group">
        <!-- Goal -->
        <label for="goal">Goal</label>
        <input formControlName="goal" id="goal" type="number" class="form-control"
          [ngModel]="goalInput | currency: 'BRL'" />
        <small id="accountnamehelp" class="form-text text-muted">Informe how much money you want to keep for this
          account.</small>
      </div>

      <div class="form-group">
        <!-- Type -->
        <label for="accountType">Type</label>
        <select class="form-control" formControlName="accountType" id="accountType">
          <option value="Income">Income</option>
          <option value="Expense">Expense</option>
          <option value="IncomeAndExpense">Income and Expense</option>
        </select>
        <small id="accounttypehelp" class="form-text text-muted">If its an account for savings please check
          Income.</small>
      </div>

      <div class="form-group">
        <!-- Comments -->
        <label for="comments">Comments</label>
        <textarea class="form-control" formControlName="comments" id="comments" rows="3"></textarea>
        <small id="accountcommentshelp" class="form-text text-muted">Inform details of your account.</small>
      </div>

      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" [disabled]="!accountForm.valid">
        Save
      </button>
    </form>
    <!-- {{ accountsModal.getData() | json }}   -->
  </div>
</ngx-smart-modal>

<!-- 

    Records

-->
<ngx-smart-modal #accountsModal4 identifier="accountsModal4" customClass="large-modal msg-modal msg-lg modal-lg"
  closable="true" dismissable="false" escapable="false" [identifier]="'popupFour'">
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <div class="container-fluid">
        <div class="row">
          <div class="col-">
            <img [src]="picUrl" width="30" height="30" class="d-inline-block align-top" alt="">
          </div>
          <div class="col-sm">
            Records Manager - Continuous monitoring
          </div>
        </div>
      </div>
    </a>
  </nav>

  <div *ngIf="accountsModal.hasData()">
    <!-- Account Name, 
            Account Type [Income, Expense, Income and Expense], 
            Goal
            Comments
        -->
    <mat-tab-group dynamicHeight="true" animationDuration="5ms">
      <mat-tab label="Records">
        <form [formGroup]="recordForm" (ngSubmit)="onSubmit()">
          <div class="card m-3">
            <h5 class="card-header">
              <i class="fa fa-calendar-check-o"></i> 03 June 2020
            </h5>


            <table class="table table-borderless table-responsive">
              <tr>
                <td *ngFor="let ticket of recordFormsAmountFields.controls; let i = index">
                  <tbody id="tab-cards-body">
                    <th id="tab-cards-th"><i class="fa fa-bank"> </i>{{accountsNames[i]}}</th>
                    <tr id="tab-cards-tr">
                      <!--Collumn-->
                      <td id="tab-cards-td">
                        <!--Row-->
                        <div id="tab-cards-card" class="card" [ngClass]="{ 'border-light mb-3 bg-light': 1 > 0 }"
                          [ngClass]="{ 'bg-light': 1 > 0 }">
                          <div class="card-body" style="min-width: 18rem;">
                            <div [formGroup]="ticket" class="form-row">
                              <div class="form-group col-6">
                                <input type="hidden" formControlName="account" class="form-control" />
                                <label for="amount"><i class="fa fa-money"></i> Amount:</label>
                                <input type="text" formControlName="amount" class="form-control"
                                  [ngClass]="{ 'is-invalid': submitted }" />
                              </div>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </td>
              </tr>
            </table>
          </div>
          <div class="card-footer text-center">

            <div class="marginTop">
              <div class="container-fluid">
                <div class="row">
                  <div class="px-2">
                    <div class="col-xs-6">
                      <button class="btn btn-outline-success my-2 my-sm-0">Save records</button>
                    </div>
                  </div>
                  <div class="px-2">
                    <div class="col-xs-6">
                      <button class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="onClear()">
                        Clear
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </mat-tab>
    </mat-tab-group>
  </div>
</ngx-smart-modal>